/* ///////// */
/* PORTFOLIO */
/* ///////// */

#modalBox {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 100px;

  background-color: white;
  border-radius: 20px;
  display: fixed;

  position: fixed;
  bottom: -150vh;
  transition: all 150ms east-in-out;

  top:50%;
  left:50%;
  transform: translate(-50%,-50%);

  width: 50%;
  height: 75%;
  /* height: 960px; */
  margin-top: 20px;

  box-shadow: inset 0px 0px 5px rgba(0,0,0,0.16), 0px 0px 5px rgba(0,0,0,0.45);

  z-index:99;
}



.darkPortfolioBackground {
        background-color: rgba(0, 0, 0, 0.2);
      }
      
.categoryHeadline {
  color: white;
  font-family: 'Roboto';
  font-size: 60px;
  text-align: center;
  background: linear-gradient(rgb(23,46,124), 10%, rgb(33,64,154));
  padding:30px;
}

.prortfolioProjectSection {
  margin-left: 10%;
  margin-right: 10%;
}

.heroCodingProject {

  margin-top: 20px;  
  margin-left: 20px;
  padding: 20px;
  width: 960px;
  
  text-align: center;
  background-color: white;
}

.projectHeroHeadline {
  padding-top: 20px;
  text-align: center;

  font-size: 36px;
  font-weight: bold;
}


.projectHeadline {
  padding-top: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

.heroCodingImage {
  width: 100%;
}

.heroCodingCopy {
  text-align: left;
}

.projectPlacement {
  
  text-align: center;
  background-color: white;
  
  padding: 20px;
  margin: 20px;

}

.projectNewImage {
    width:100%;
}

/* .portfolioTopRow {
  padding-top: 20px;
  }
  
  .portfolioBottomRow {
  padding-bottom: 20px;
  }
  
  .portfolioSingleRow {
  padding-top: 20px;
  } */