#modalCodingOuterContainer {
    padding-top: 30px;
    padding-bottom: 30px;
    

    background-color: white;
    border-radius: 20px;
    display: fixed;
  
    position: fixed;
    /* bottom: -150vh; */
    transition: all 150ms east-in-out;
  
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  
    width: 10px;
    height: 900px;
    /* height: 960px; */
    /* margin-top: 20px; */
  
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.16), 0px 0px 5px rgba(0,0,0,0.45);
  
    z-index:99;
  }

.codingModalTitle {
    color: rgb(31,61,149);

    margin-bottom: -10px;
    margin-left: 45px;
    font-size: 56px;
    font-weight: bolder;
    
}

.closeCodingModal {
    color: rgb(31,61,149);
    cursor: pointer;
    z-index: 99;

    font-family: 'Oxygen';
    font-size: 35px;

    margin-top: -10px;
    margin-left: 75px;
    
    padding-top: 0px;
  }

  /* BOOKSHELF EXAMPLE */
  /* .closeX {
    text-align: right;
    color:rgb(91,123,122);
    font-size: 18px;;
    font-family: 'Lucida Sans Unicode';
    margin-top: -5px;
    margin-right: -5px;
    cursor: pointer;
} */

.codingLanguages {
    margin-left: auto;
    margin-right: auto;

    /* justify-content: center; */

    font-size: 25px;
    font-weight:500;
    /* color: rgb(31,61,149);  */
    
    
    /* background-color: whitesmoke; */
    /* box-shadow: inset 0px 0px 3px rgba(0,0,0,0.5), 0px 0px 3px rgba(0,0,0,0.5); */

}
.codeIcons {
    /* display: inline; */
    font-size: 25px;
    font-weight:500;
    /* color: rgb(31,61,149);  */
    padding-left: 10px;
    padding-right: 10px;

    margin-left: 50px;
    margin-bottom: 20px;
    
}

.modalInnerContainer {
    overflow: inherit;
    /* overflow-x:hidden; */

    height: 100%;
    width: 100%;
    /* margin-left: 10px;
    margin-right:10px; */
    z-index: 99;
  }

/* .projectTopRow {
    margin-bottom: 15px;
} */

.porfolioMainImg {
    width: 75%;

    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;

    padding: 20px;
    
    display: flex;
}

.portfolioSecondImg {
    width: 33%;
    padding: 15px;
}

.modalCopyIntro {
    margin-top: 20px;
    margin-bottom: 15px;
    padding-left: 100px;
    padding-right: 100px;
}

.buttonCenter {
    position: relative;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.tryItButton {
    color: white;
    background-color: rgb(31,61,149);
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    margin: 20px;
}