#modalVideoOuterContainer {
    padding-top: 30px;
    padding-bottom: 30px;
    /* padding-left: 50px; */
    /* padding-right: 75px; */

    background-color: white;
    border-radius: 20px;
    display: fixed;
  
    position: fixed;
    bottom: -150vh;
    transition: all 150ms east-in-out;
  
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  
    width: 40%;
    height: 860px;
    margin-top: 20px;
  
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.16), 0px 0px 5px rgba(0,0,0,0.45);
  
    z-index:99;
  }

.titleBlock {
    width:100%;
    display:inline-block;
    /* text-align: left; */
  }

.modalTopBar {
    display: inline;
}
.videoModalTitle {
    justify-content: left;
    font-size: 40px;
    display: flex;
    color: rgb(31,61,149);
    margin-left: 50px;
    font-weight: bolder;
    padding-bottom: 20px;
}

.closeVideoModal {
    color: rgb(31,61,149);
    cursor: pointer;
    z-index: 99;

    font-family: 'Oxygen';

    margin-left: -10px;
    padding-top: 0px;
    /* padding-right: 30px; */
    /* margin-top:-10px; */    
  }

.videoContainer {
    justify-content: center;
    display: flex;
    padding: 20px;;
}
 
.videoPlayer {
    width: 720px;
    height: 405px;
}

.modalInnerContainer {
    overflow: inherit;
    /* overflow-x:hidden; */

    height: 100%;
    width: 100%;
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    z-index: 99;
  }

.projectTopRow {
    margin-bottom: 15px;
}

.videoModalCopy {
    margin-top: 20px;
    margin-bottom: 15px;
    padding-left: 100px;
    padding-right: 100px;
}

.buttonCenter {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tryItButton {
    color: white;
    background-color: rgb(31,61,149);
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    margin: 20px;
}