.homeBody {
  background:url("./components/assets/images/background-image-placeholer.png");

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.social-container {
  text-align: center;
  }

.fa {
  position: center;
  padding: 10px;
  margin: 20px 10px 20px 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  lighting-color: 1000;
  }  

.fa-linkedin {
  background: #007bb5;
  color: white;
  }

.fa-youtube {
  background: #bb0000;
  color: white;
  }

.fa-twitter {
      background: white;
      color: #55ACEE;
  }