html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.buttonHover {
  cursor: pointer;
}

.containerFix {
  margin-left: -15px;
  margin-right:-15px;
}

.contactBox {
  z-index: 99;
}

.nav-bar {
  position:fixed;
  width: 100%;
  min-height: 6vh;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: rgb(23,46,124);
  /* background-color: rgb(0, 195, 255, 0.5); */
  transition: all .7s ease-in;

  z-index: 99;

  left:0;
  right:0;
}

.nav-items {
  margin-left: auto;
  margin-right: auto;

  font-size: 24px;
  color:white;
}

.nav-item {
  cursor: pointer;
  padding: 20px;
  color: white;
}

.nav-item:hover {
  cursor: pointer;
  padding-bottom: 50px;
  color: white;
  text-decoration: none;
}

/* DROP DOWN MENU */

.dropDownMenu {
  position: relative;
  display: inline;
}

.dropDown {
  /* background-color: #4CAF50; */
  color: white;
  padding: 16px;
  /* font-size: 16px; */
  border: none;
  display: inline;
}

.dropdown-content {
  display: none;
  position: absolute;
  color: rgba(23,46,124);
  background-color: #f1f1f1;
  width:300px;;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: -80px;
  
  height: 0;
  opacity:0;
  transition: all .5s ease;

  margin-top: 20px;
}

/* .dropdown-content:hover .dropLink {background-color: #ddd;} */
.dropDown:hover .dropdown-content {
  display: block;

  position: absolute;

  height: 100%;
  opacity: 1;
  transform: translateY(0);
  background-color: white;
}
.dropDown:hover .dropLink {background-color: white;}
.dropDown:hover .dropLink:hover {background-color: rgb(231, 231, 231);}

.dropLink {
  color: black;
  text-decoration: none;
  display: block;
  padding: 30px;
}

#heroSection { 
  background:url("./components/styleimages/andy-mountains-hero.png");
  /* background-image: url("./components/styleimages/andy-mountains-cropped.jpg"); */

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 1280px;

  top: 0;    left: 0;    right: 0;   bottom: 0;   min-width: 100%;   min-height: 100%;

  z-index: 100;

}
#codingSection {
  position: relative;
  z-index: 0;

  background:linear-gradient(-10deg,  rgba(23,46,124, 0.1)0.1%, rgba(62,121,39, 0.2)50%, rgba(35, 86, 255, 0.3)100%), url("./components/styleimages/beaverVillage3.png");
  /* background-image: url("./components/styleimages/andy-mountains-cropped.jpg"); */

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 110%;
}

#dataVisualizationSection {
  position: relative;
  z-index: 0;

  background:linear-gradient(-10deg,  rgba(23,46,124, 0.1)0.1%, rgba(62,121,39, 0.2)50%, rgba(35, 86, 255, 0.3)100%), url("./components/styleimages/beaverVillage4.png");
  /* background-image: url("./components/styleimages/andy-mountains-cropped.jpg"); */

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 110%;
}

#animationSection {
  position: relative;
  z-index: 0;

  background:linear-gradient(-10deg,  rgba(23,46,124, 0.1)0.1%, rgba(62,121,39, 0.2)50%, rgba(35, 86, 255, 0.3)100%), url("./components/styleimages/beaverVillage6.png");
  /* background-image: url("./components/styleimages/andy-mountains-cropped.jpg"); */

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 110%;
}

#videoSection {
  position: relative;
  z-index: 0;

  background:linear-gradient(-10deg,  rgba(23,46,124, 0.1)0.1%, rgba(62,121,39, 0.2)50%, rgba(35, 86, 255, 0.3)100%), url("./components/styleimages/beaverVillage5.png");
  /* background-image: url("./components/styleimages/andy-mountains-cropped.jpg"); */

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 110%;
}

#particles-js {
  position : absolute;
    width:100%;
    height:100%;
    z-index:1;
}

#aboutSection { 
  background:linear-gradient(rgba(7,28,99, 0.2)50%, rgba(62,121,39, 0.4)100%), url("./components/styleimages/mountain-bottom-background-cropped.png");
  /* background-image: url("./components/styleimages/andy-mountains-cropped.jpg"); */

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  

  height: 100%;

  top: 0;    left: 0;    right: 0;   bottom: 0;   min-width: 100%;   min-height: 100%;
}

.aboutOutsideArea {

  justify-self: center;

  margin-left: auto;
  margin-right: auto;
  
}

.aboutBox {
  background-color: rgb(231, 231, 231, 0.9);
  position: flex;

  justify-content: center;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;

  width: 800px;
  height: 620px;

  padding: 50px 60px 60px 60px;
  border-radius: 50px;

  box-shadow: inset 0px 0px 5px rgba(0,0,0,0.16), 0px 0px 5px rgba(0,0,0,0.45);
}

.profilePic {
  width: 40%;
  border-radius: 50px 0px 0px 0px;

  padding-right: 40px;

  padding-top: 15px;
  padding-bottom: 20px;

  float: left;
}

.bioSpacing {
  padding: 10px;
}

/* DEMO REEL */
.demoPlacement {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;

  z-index: 90;
}

.demoButton {
  color: whitesmoke;

  font-size:24px;
  
  background-color: rgb(23,46,124);

  margin-top: 20px;
  margin-bottom: 20px;

  padding: 20px;
  position:relative;

  border-radius: 20px;
  border: none;
  box-shadow: inset 0px 0px 5px rgba(0,0,0,0.16), 0px 0px 5px rgba(0,0,0,0.45);

  width: 220px;

  /* z-index: 1; */
  
}

/* MODAL */

/* .overlay { */
  /* z-index: 99; */
  /* position: fixed;
  top: 10;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
} */

#contactModalBox {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 100px;

  background-color: white;
  border-radius: 20px;
  display: fixed;

  position: fixed;
  bottom: -150vh;
  transition: all 150ms east-in-out;

  top:50%;
  left:50%;
  transform: translate(-50%,-50%);

  width: 50%;
  height: 50%;
  margin-top: 20px;

  box-shadow: inset 0px 0px 5px rgba(0,0,0,0.16), 0px 0px 5px rgba(0,0,0,0.45);

  z-index:99;
}

/* .modalTitle {
 margin-left: 10px;
 margin-top: -20px;

 text-align: center;
 font-size: 24px;
 font-weight: bolder;

} */

/* .closeX {
  text-align: right;
  font-size: 24px;
  color:grey;
  font-size: 24px;
  font-weight: bolder;
  font-family: 'Lucida Sans Unicode';
  padding-right: 10px;
  cursor: pointer;
  border: none;
  z-index: 99;
  
  width: 100%;
} */

.modalContainer {
  /* text-align: center; */
  width: 100%;
  margin-left: 10px;
  margin-right:10px;
  z-index: 99;
}

.modalCopy {
  margin-top: 15px;
  color: black;
  font-size: 16px;
  z-index: 99;
}

.fadeIn {
  transition: all 0.25s ease-in;
}

.blur {
  filter: blur(8);
  transition: all 0.25s ease-in;
  overflow: hidden;
}

/* SCREEN RESOLUTIONS */

.mainTitle {
    font-size: 180px;
    font-family:'Fredericka the Great';
    color: whitesmoke;
  
    text-align: center;
    
    margin-top: 50px;
    /* margin-left: auto;
    margin-right: auto; */
}

.taglineTitle {
    font-size: 40px;
    font-family:'Fredericka the Great';
    color: whitesmoke;
  
    text-align: center;
}

/* @media only screen and (max-height: 850px){

  #heroSection { 
    background-image: url("./components/styleimages/andy-mountains-cropped.jpg");

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-color: rgb(245,245,245,0);

    height: 850px;

    top: 0;    left: 0;    right: 0;   bottom: 0;   min-width: 100%;   min-height: 100%;
  }

} */

@media only screen and (min-width: 2560px){
  .mainTitle {
    font-size: 180px;
    margin-top: 300px;
  }

  .taglineTitle {
    font-size: 40px;
    text-align: center;
  }
}

@media only screen and (max-width: 2100px){
  .mainTitle {
    font-size: 180px;
    
    margin-top: 300px;
  }

  .taglineTitle {
    font-size: 40px;
  }

  .projectHeroHeadline {
    font-size:40px;
  }
}

@media only screen and (max-width: 2026px){
  .mainTitle {
    font-size: 180px;
    
    margin-top: 300px;
  }

  .taglineTitle {
    font-size: 40px;
  }

  .projectHeroHeadline {
    padding-bottom: 45px;
    font-size:37px;
  }
}

@media only screen and (max-width: 1926px){
  .mainTitle {
    font-size: 180px;
    
    margin-top: 300px;
  }

  .taglineTitle {
    font-size: 40px;
  }

  .projectHeroHeadline {
    padding-bottom: 40px;
    font-size:31px;
  }

  .projectHeadline {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1926px){
  .mainTitle {
    font-size: 180px;
    
    margin-top: 300px;
  }

  .taglineTitle {
    font-size: 40px;
  }

  .projectHeroHeadline {
    padding-bottom: 40px;
    font-size:31px;

  }

  .projectHeadline {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1730px){
  .mainTitle {
    font-size: 180px;
    
    margin-top: 300px;
  }

  .taglineTitle {
    font-size: 40px;
  }

  .projectHeroHeadline {
    padding-bottom: 40px;
    font-size:28px;

  }

  .projectHeadline {
    font-size: 18px;
  }

  .prortfolioProjectSection {
    margin-left: 150px;
    margin-right: 150px;
    padding-bottom: 60px;
  }
}

@media only screen and (max-width: 1600px){
  .mainTitle {
    font-size: 160px;
    
    margin-top: 300px;

  }

  .taglineTitle {
    font-size: 40px;
    
  }

  .projectHeroHeadline {
    padding-bottom: 40px;
    font-size:28px;

  }

  .projectHeadline {
    font-size: 18px;
  }

  .prortfolioProjectSection {
    margin-left: 150px;
    margin-right: 150px;
    padding-bottom: 60px;
  }

}

@media only screen and (max-width: 1560px){
  .mainTitle {
    font-size: 120px;

    margin-top: 300px;

  }

  .taglineTitle {
    font-size: 40px;
    
  }

  .projectHeroHeadline {
    padding-bottom: 40px;
    font-size:28px;

  }

  .projectHeadline {
    font-size: 18px;
  }

  .prortfolioProjectSection {
    margin-left: 150px;
    margin-right: 150px;
    padding-bottom: 60px;
  }
}

@media only screen and (max-width: 1440px){
  .mainTitle {
    font-size: 120px;

    margin-top: 300px;

  }

  .taglineTitle {
    font-size: 40px;
    
  }

  .projectHeroHeadline {
    padding-bottom: 40px;
    font-size:22px;

  }

  .projectHeadline {
    font-size: 14px;
  }

  .prortfolioProjectSection {
    margin-left: 125px;
    margin-right: 125px;
    padding-bottom: 60px;
  }
}

@media only screen and (max-width: 1280px){
  .mainTitle {
    font-size: 120px;
   
    
    margin-top: 300px;
    
  }

  .taglineTitle {
    font-size: 40px;
    
  }

  .projectHeroHeadline {
    padding-bottom: 39px;
    font-size:22px;

  }

  .projectHeadline {
    font-size: 14px;
  }

  .prortfolioProjectSection {
    margin-left: 125px;
    margin-right: 125px;
    padding-bottom: 60px;
  }

}

@media only screen and (max-width: 1222px){
  .mainTitle {
    font-size: 120px;
   
    
    margin-top: 300px;
    
  }

  .taglineTitle {
    font-size: 40px;
    
  }

  .projectHeroHeadline {
    padding-bottom: 35px;
    font-size:20px;

  }

  .projectHeadline {
    font-size: 12px;
  }

  .prortfolioProjectSection {
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 60px;
  }

}

@media only screen and (max-width: 1024px){
  .mainTitle {
    font-size: 100px;
    margin-top: 300px;

  }

  .taglineTitle {
    font-size: 40px;

  }

  .heroCodingProject {
    padding: 20px;
    margin-top: 0px;  
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    /* width: 95%; */
    height: auto;
    
    /* justify-self: center; */
    /* display: flex; */
    background-color: rgb(255, 255, 255, 0.9);
  
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.16), 0px 0px 5px rgba(0,0,0,0.25);
  }

  .projectHeroHeadline {
    padding-top: 25px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 32px;

  }

  .projectHeadline {
    font-size: 18px;
  }

  .prortfolioProjectSection {
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 60px;
  }

  .projectPlacement {
  
    text-align: center;
    background-color: rgb(255, 255, 255, 0.9);
    
    padding: 20px;
    margin: 0px;
  
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.16), 0px 0px 5px rgba(0,0,0,0.25);
  }

  .portfolioTopRow {
    margin-bottom: 15px;
  }

  .projectSpacer {
    margin-bottom: 30px;
  }
  

}

/* SINGLE COLUMN */

@media only screen and (max-width: 991px){

  .heroCodingProject {
    padding: 20px;
    margin-top: 0px;  
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 60px;
    /* width: 95%; */
    height: auto;
    
    /* justify-self: center; */
    /* display: flex; */
    background-color: rgb(255, 255, 255, 0.9);
  
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.16), 0px 0px 5px rgba(0,0,0,0.25);
  }

  .projectPlacement {
  
    text-align: center;
    background-color: rgb(255, 255, 255, 0.9);
    
    padding: 20px;
    margin-bottom: 60px;
  
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.16), 0px 0px 5px rgba(0,0,0,0.25);
  }

  .portfolioTopRow {
    margin-bottom: 0px;
  }

  .projectSpacer {
    margin-bottom: 60px;
  }

  .mainTitle {
    font-size: 80px;
    
    margin-top: 300px;
    
  }

  .taglineTitle {
    font-size: 40px;
    
  }

  .projectHeroHeadline {
    font-size:36px;
    padding-top: 20px;
    padding-bottom: 5px;

  }

  .projectHeadline {
    font-size: 36px;
    padding-top: 20px;
    padding-bottom: 5px;
  }

  .prortfolioProjectSection {
    margin-left: 125px;
    margin-right: 125px;
    padding-bottom: 60px;
  }

  .aboutBox {
    background-color: rgb(231, 231, 231, 0.9);
    position: flex;
  
    justify-content: center;
  
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  
    width: 600px;
    height: 730px;
  
    padding: 50px 60px 60px 60px;
    border-radius: 50px;
  
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.16), 0px 0px 5px rgba(0,0,0,0.45);
  }
}

@media only screen and (max-width: 800px){
  .mainTitle {
    font-size: 80px;
    
    margin-top: 300px;
    
  }

  .taglineTitle {
    font-size: 40px;
    
  }

  .projectHeroHeadline {
    font-size:22px;
    padding-top: 20px;
    padding-bottom: 5px;

  }

  .projectHeadline {
    font-size: 22px;
    padding-top: 20px;
    padding-bottom: 5px;
  }

  .prortfolioProjectSection {
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 60px;
  }

  .aboutBox {
    background-color: rgb(231, 231, 231, 0.9);
    position: flex;
  
    justify-content: center;
  
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  
    width: 550px;
    height: 750px;
  
    padding: 50px 60px 60px 60px;
    border-radius: 50px;
  
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.16), 0px 0px 5px rgba(0,0,0,0.45);
  }

}

@media only screen and (max-width: 768px){
  .mainTitle {
    font-size: 80px;
      
    margin-top: 300px;
    
  }

  .taglineTitle {
    font-size: 30px;
    
  }

  .projectHeroHeadline {
    font-size:18px;
    padding-top: 20px;
    padding-bottom: 10px;

  }

  .projectHeadline {
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .prortfolioProjectSection {
    margin-left: 125px;
    margin-right: 125px;
    padding-bottom: 60px;
  }

}

@media only screen and (max-width: 425px){
  .mainTitle {
    font-size: 50px;
    margin-top: 300px;

  }

  .taglineTitle {
    font-size: 20px;
    
  }

  .projectHeroHeadline {
    font-size:28px;
    padding-top: 20px;
    padding-bottom: 10px;

  }

  .projectHeadline {
    font-size: 28px;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .prortfolioProjectSection {
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 60px;
  }

  

}

/* @media only screen and (min-width: 425px){

  #heroSection { 
    background-image: url("./components/styleimages/andy-mountains-cropped.jpg");

    

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;

    height: 850px;

    top: 0;    left: 0;    right: 0;   bottom: 0;   min-width: 100%;   min-height: 100%;
  }

  .mainTitle {
    font-size: 40px;
    font-family:'Fredericka the Great';
  
    text-align: center;
    
    margin-top: 65%;
    margin-left: auto;
    margin-right: auto;
  }

  .taglineTitle {
    font-size: 20px;
    font-family:'Fredericka the Great';
  
    text-align: center;
    
    margin-left: auto;
    margin-right: auto;
  }

  .nav-items {
    margin-left: auto;
    margin-right: auto;
  
    font-size: 16px;
  }
  
  .nav-item {
    cursor: pointer;
    padding: 20px;
  
  }

} */